
# BEGIN WordPress
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /~apparent/wordpress/
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /~apparent/wordpress/index.php [L]
</IfModule>

# END WordPress
AuthName "Wordpress"
AuthUserFile "/home/apparent/.htpasswds/public_html/wordpress/passwd"
